<<<<<<< HEAD
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

=======
>>>>>>> c356163 (video call ui setup)
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
<<<<<<< HEAD
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;
=======
  font-family: sans-serif;
>>>>>>> c356163 (video call ui setup)
}

.str-video {
  background-color: #272a30;
  color: #ffffff;
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 0;
  max-width: 100%;
}
<<<<<<< HEAD
=======

#root { height:100%; }
>>>>>>> c356163 (video call ui setup)
